.MuiDrawer-paper {
  visibility: visible !important;
  transform: translateX(0px) !important;
  //   display: none !important;
}
.MuiDrawer-docked {
  //   display: none !important;
}
.MuiListItemIcon-root {
  // min-width: 45px !important;
}
.MuiPaper-elevation {
  box-shadow: none;
}
