.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_card {
    padding: 5px;
    width: 100%;
    // height: 100px;
    background-color: #0c4271;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    color: cornsilk;
  }
}
